*{
    margin: 0;
    padding: 0;

    font-family: "Poppins", sans-serif;
}
body {
    background-color:rgb(15, 3, 20);
   color:hwb(60 86% 4%)
 }

h1 {
    color: EAEADE;
    font-size: 40.5px; 
    margin-left: 300px;

    
    } 
    h2 {
        font-size: 12px;
        margin-left: 325px;
       
    }
    
    ul {
        background-color: #909090;
    }
    legend {
        font-size: 28.8px;
       
    }

    label {
        color: gray;
        font-size:  12px;
           
     }

     p {
        color: gray;
        font-size: 12.8px;
        
        }
        #carregando{
            width: 90px;
            margin-left: 80px;
        }
    
    i {
        color: white;
        font-size: 20.81 x 21;
        margin-left: 3.5px;
        margin-right: 3.5px;
       
    }

    li{ 
        display: inline;
        margin-left: 50px;
        font-size: 12.8px;
    }

    #icone {
        width: 500px;
    }

    p {
        color: gray;
        font-size: 12.8px;
        
    }
    #pfooter {
        background-color: purple;
    }
    #enviar {
        background-color: #909090;
        width: 100%;
    }

    #SeuNome {
        margin: 15px;
        border: left 15px; ;
        border-top: 15px;

    }

    #Mensagem {
        margin-top: 15px;
        border-left: 15px;
        border-top: 15px;
    }

    #Email{
        margin: 15px;
        border-left: 15px;
        border-top: 15px;
    }
    .box >label{
    display: block;
    }
.lele > label{
    display: block;
}
.lele >input{
    display: block;
}
    p{
        margin: 20px;
        border-left: 20px;
        border-right: 20px;
    }
